.About {
  p {
    font-size: clamp(1.1, 2.2vw, 3.2em) !important;
  }
  height: 90%;
  // .demo-bg {
  //   z-index: -1000;
  //   opacity: 0.5;
  //   position: absolute;
  //   left: 0;
  //   top: 11%;
  //   width: 100%;
  //   height: 80%;
  //   animation: swing4 ease-in-out 10s infinite alternate;
  //   animation: animate 1.8s linear;
  //   animation-name: backgroundTextApparition;
  //   animation-timing-function: ease;
  // }

  .about-text {
    width: 100%;
    // height: 40%;
    border: 2px solid red;
    padding: 2vw;
    animation: animate 1.8s linear;
    animation-name: homeTextApparition;
    animation-timing-function: ease;
    color: $color-white;
    animation: textBg ease-in-out 10s infinite alternate;
    p {
      padding: 0 2%;
      span,
      a {
        font-weight: bolder;
        color: brown;
        cursor: pointer;
      }
    }
  }
  @keyframes textBg {
    0% {
      box-shadow: inset -50px -122.5px 115px rgba(122, 165, 42, 0.267);
    }

    100% {
      box-shadow: inset -50px 122.5px 115px rgba(42, 99, 165, 0.322);
    }
  }
  @media only screen and (max-width: 749px) {
    .about-text {
      position: relative;
      top: 7%;
    }
  }

  .spaceApparitionAbout {
    position: absolute;
    z-index: -1;
    width: 5px;
    height: 5px;
    opacity: 0;
    background-image: url('../asset/images/giphy\ \(2\).gif');
    background-size: cover;
    animation: animate 1s linear;
    animation-name: spaceApparitionAbout;
    animation-timing-function: ease;
  }

  @keyframes spaceApparitionAbout {
    0% {
      opacity: 0.5;
    }
    70% {
      transform: translateY(50%) scale(10);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes backgroundTextApparition {
    0% {
      opacity: 1;
    }
    70% {
      transform: translateY(30%) scale(3);
    }
    100% {
      opacity: 0.2;
    }
  }
}
