.About {
  p {
    font-size: clamp(1.1, 2.2vw, 3.2em) !important;
  }
  height: 90%;
  .demo-bg {
    z-index: -1000;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 11%;
    width: 100%;
    height: 80%;
    animation: animate 1.8s linear;
    animation-name: backgroundTextApparition;
    animation-timing-function: ease;
  }
  .about-text {
    width: 100%;
    height: 40%;
    padding: 2vw;
    animation: animate 1.8s linear;
    animation-name: homeTextApparition;
    animation-timing-function: ease;
    color: $color-white;
  }
  @media only screen and (max-width: 749px) {
    .about-text {
      position: relative;
      top: 15%;
    }
  }

  .spaceApparitionAbout {
    position: absolute;
    z-index: -1;
    width: 5px;
    height: 5px;
    opacity: 0;
    background-image: url('../asset/images/giphy\ \(2\).gif');
    background-size: cover;
    animation: animate 1s linear;
    animation-name: spaceApparitionAbout;
    animation-timing-function: ease;
  }

  @keyframes spaceApparitionAbout {
    0% {
      opacity: 0.5;
    }
    70% {
      transform: translateY(50%) scale(10);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes backgroundTextApparition {
    0% {
      opacity: 1;
    }
    70% {
      transform: translateY(30%) scale(3);
    }
    100% {
      opacity: 0.2;
    }
  }
}
