.BurgerMenu {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: large;
  font-weight: bold;
  height: 80vh;
  max-width: 100vw;
  background-image: url('../asset/images/background-image.jpg');
  background-position: 110% 5%;
  background-size: 80%;
  background-repeat: no-repeat;

  li {
    margin-top: 5vh;
    margin-right: 12vw;
  }
  .navbarBurgerMenu {
    font-size: large;
    font-weight: bold;
    padding-top: 1vh;
  }

  .navLinkBurgerMenu {
    color: $color-yellow;
  }

  .navLinkBurgerMenu:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px brown,
      0 100px 80px red;
    color: brown;
    font-size: 1.05em;
  }
}

@media only screen and (max-width: 500px) {
  .BurgerMenu {
    background-position: 110% 15%;
  }
}

