.burgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.3em, 2vw, 3em);
  font-weight: bold;
  height: 80vh;
  max-width: 100vw;
  background-image: url('../asset/images/background-image.jpg');
  background-position: 110% -18%;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-top: 5vh;


  li {
    margin-top: 5vh;
    margin-right: 12vw;
  }
}

@media only screen and (max-width: 500px) {
  .BurgerMenu {
    background-position: -40% 0%;
  }
}
