.navBarFooter {
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: x-large;
    font-weight: bold;
    margin: 0;
    width: 68vw;

    li {
      margin: 0 2vw;
      .active {
        color: red !important;
        font-weight: bolder;
      }
    }
  
}

@media only screen and (max-width: 750px) {
  .navBarFooter {
    display: none;
  }
}
