.Footer {
  // border: solid 1px blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
 

  // padding-left: 3vw;

  svg {
    margin-left: 2vw;
    width: 24px;
    height: 24px;
  }



  @media only screen and (max-width: 350px) {
    svg {
      width: 22px;
      height: 22px;
    }
  }

  @media only screen and (max-width: 250px) {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  svg:hover {
    width: 1.5em;
    height: 1.2em;
  }
}

// .apparition-wrapper {
//   display: flex;
//   justify-content: space-between right;
//   margin-left: 40vw;     animation: animate 12s linear infinite;
//     animation-name: expandUp;
//     animation-duration: 20.7s;
//     animation-timing-function: ease;
//   }

//   @keyframes expandUp {
//     0% {
//       transform: translateY(100%) scale(0.6) scaleY(0.5);
//     }
//     60% {
//       transform: translateY(-107%) scaleY(1.12);
//     }
//     75% {
//       transform: translateY(91%);
//     }
//     100% {
//       transform: translateY(10%) scale(1) scaleY(1);
//     }
//   }

//   .apparition2 {
//     position: relative;
//     margin: 1px;
//     font-family: sans-serif;
//     text-transform: uppercase;
//     font-size: 2em;
//     letter-spacing: 6px;
//     overflow: hidden;
//     background: yellow;
//     background-size: 80%;
//     animation: animate 12s linear infinite;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: yellow;
//     animation-name: expandUp2;
//     animation-duration: 20.7s;
//     animation-timing-function: ease;
//   }

//   @keyframes expandUp2 {
//     0% {
//       transform: translateY(100%) scale(0.6) scaleY(0.5);
//     }
//     60% {
//       transform: translateY(-107%) scaleY(1.12);
//     }
//     75% {
//       transform: translateY(91%);
//     }
//     100% {
//       transform: translateY(100%) scale(1) scaleY(1);
//     }
//   }

//   .apparition {
//     position: relative;
//     width: 20vw;
//     animation: animate 12s linear infinite;
//     animation-name: expandUp;
//     animation-duration: 20.7s;
//     animation-timing-function: ease;
//   }

//   @keyframes expandUp {
//     0% {
//       transform: translateY(100%) scale(0.6) scaleY(0.5);
//     }
//     60% {
//       transform: translateY(-107%) scaleY(1.12);
//     }
//     75% {
//       transform: translateY(91%);
//     }
//     100% {
//       transform: translateY(10%) scale(1) scaleY(1);
//     }
//   }

//   .apparition2 {
//     position: relative;
//     margin: 1px;
//     font-family: sans-serif;
//     text-transform: uppercase;
//     font-size: 2em;
//     letter-spacing: 6px;
//     overflow: hidden;
//     background: yellow;
//     background-size: 80%;
//     animation: animate 12s linear infinite;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: yellow;
//     animation-name: expandUp2;
//     animation-duration: 20.7s;
//     animation-timing-function: ease;
//   }

//   @keyframes expandUp2 {
//     0% {
//       transform: translateY(100%) scale(0.6) scaleY(0.5);
//     }
//     60% {
//       transform: translateY(-107%) scaleY(1.12);
//     }
//     75% {
//       transform: translateY(91%);
//     }
//     100% {
//       transform: translateY(100%) scale(1) scaleY(1);
//     }
//   }


@media only screen and (max-width: 500px) {
  .Footer {
   margin-top: 5vh;
  }
}