#Footer {
  // border: solid 1px blue;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 3vh;

  svg {
    margin-left: 2vw;
    width: calc(2vw + 0.5em);
    height: calc(2vh + 0.5em);
    // width: calc(1em + 0.8vw);
    // height: calc(1em + 0.8vh);
  }

  // @media only screen and (max-width: 350px) {
  //   svg {
  //     width: 24px;
  //     height: 24px;
  //   }
  // }

  // @media only screen and (max-width: 250px) {
  //   svg {
  //     width: 22px;
  //     height: 22px;
  //   }
  // }

  svg:hover {
    width: 1.5em;
    height: 1.2em;
  }
  
}

.Footer {
  animation: animate 2s linear;
  animation-name: footerApparition;
  animation-timing-function: ease-out;
}

@keyframes footerApparition {
  0% {
    transform: translate(0, -3000%);
  }
  50% {
    transform: translate(0, -80%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

