// .card-title {
//   margin: 4%;
//   animation-name: changecolor;
//   animation-duration: 20s;

//   @keyframes changecolor {
//     0% {
//       color: rgb(0, 255, 191);
//     }
//     25% {
//       color: rgb(157, 255, 0);
//     }
//     50% {
//       color: rgb(229, 255, 0);
//     }
//     100% {
//       color: green;
//     }
//   }
// }

.Header {
  margin-top: -2.4vh;

  #logo {
    position: absolute;
    left: 0.5%;
    top: 0.5%;
    width: 60px;
    height: 45px;
  }
  #menu-icon {
    display: none;
    color: $color-white;
    width: 46px;
    height: 46px;
  }
  #menu-icon:hover {
    color: $color-yellow;
    border: $color-white 1px solid;
  }

  @media only screen and (max-width: 500px) {
    #menu-icon {
      display: block;
      position: absolute;
      right: 5vw;
      top: 2vh;
    }
  }
}

@media only screen and (max-width: 500px) {
  .Header {
    margin-top: 0;
  }
}