.Home {
  // border: 1px solid red;
  padding: 6vw;
  color: $color-white;
  font-size: 110%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -9vh;
  right: 2vw;

  .home-wrapper-left {
    width: 80vw;
    height: max-content;
    position: relative;
  }

  @media only screen and (min-width: 749px) and (max-width: 1299px) {
    .home-wrapper-left {
      top: 8vh;
    }
  }
  @media only screen and (min-width: 499px) and (max-width: 748px) {
    .home-wrapper-left {
      position: relative;
      top: 16vh;
    }
  }

  .home-wrapper-right {
    // border: 1px solid yellow;
    background-image: url('../asset/images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% 60%;
    width: 80vw;
    height: 55vh;
  }

  @media only screen and (min-width: 1050px) {
    .home-wrapper-right {
      background-position: 10% 50%;
      background-size: 80%;
    }
  }

  @media only screen and (min-width: 750px) and (max-width: 1049px) {
    .home-wrapper-right {
      background-position: 50% 10%;
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 749px) {
    .home-wrapper-right {
      background-position: 50% 50%;
      height: 70vh;
      width: 100vw;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 499px) {
    .home-wrapper-right {
      background-size: 140%;

      background-position: 50% 50%;
      width: 90vw;
      height: 40vh;
    }
  }
  @media only screen and (max-width: 299px) {
    .home-wrapper-right {
      background-size: 140%;
      background-position: 50% 50%;
      width: 90vw;
      height: 40vh;
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 498px) {
  .Home {
    top: 10vh;
  }
}
@media only screen and (max-width: 299px) {
  .Home {
    top: 11vh;
  }
}
