@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pushster&display=swap');

.Home {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;

  .wrap {
    z-index: -2000;
    display: flex;
    position: relative;
    height: 10vh;
    margin: 0;
    padding: 0;
    animation: animate 3.8s linear;
    animation-name: apparition;
    animation-timing-function: ease;

    .left,
    .right {
      position: relative;
      width: 50%;
    }
    .left {
      img {
        transform-origin: top center;
        animation: swing1 ease-in-out 2s infinite alternate;
      }
      img:hover {
        background-color: rgb(154, 185, 81);
        border: 3px solid rgb(42, 65, 165);
      }
    }
    .right {
      img {
        transform-origin: top center;
        animation: swing2 ease-in-out 2s infinite alternate;
      }
      img:hover {
        background-color: rgb(198, 197, 214);
        border: 3px solid rgb(42, 65, 165);
      }
    }
    .chouchin {
      position: absolute;
      top: -10px;

      img:hover {
        background-color: rgb(198, 197, 214);
        border: 3px solid rgb(42, 65, 165);
      }
      &.layer1 {
        width: clamp(3em, 8vw, 9em);
        z-index: 10;
        filter: blur(1px);
      }

      &.layer2 {
        width: clamp(2em, 7vw, 8em);
        filter: blur(2px);
        z-index: 5;
        opacity: 0.9;
      }

      &.layer3 {
        width: clamp(1em, 6vw, 7em);
        filter: blur(3px);
        z-index: 1;
        opacity: 0.8;
      }
    }

    .chouchin1 {
      left: 25%;
      z-index: 5;
    }

    .chouchin2 {
      left: 50%;

      img {
        animation-duration: 3s;
        animation-direction: alternate-reverse;
        animation: discoLight1 swing ease-in-out 10s infinite alternate;
      }
    }

    .chouchin3 {
      left: 70%;

      img {
        animation-duration: 3.5s;
      }
    }

    .chouchin4 {
      right: 25%;

      img {
        animation-duration: 2.5s;
        animation-direction: alternate-reverse;
      }
    }

    .chouchin5 {
      right: 50%;

      img {
        animation-duration: 3.2s;
      }
    }

    .chouchin6 {
      right: 70%;

      img {
        animation-duration: 3.8s;
        animation-direction: alternate-reverse;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    @keyframes swing1 {
      0% {
        width: 130%;
        background-color: rgba(194, 182, 114, 0.76);
        border: 3px;
        border-radius: 7%;
        transform: rotate(18deg);
        box-shadow: 100px 75px 30px red;
      }

      100% {
        transform: rotate(-18deg);
      }
    }
    @keyframes swing2 {
      0% {
        width: 130%;
        background-color: rgba(114, 142, 194, 0.76);
        border: 3px;
        border-radius: 7%;
        transform: rotate(18deg);
        box-shadow: -100px 75px 30px brown;
      }

      100% {
        transform: rotate(-18deg);
      }
    }
  }

  .content {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8vh;
    width: clamp(15em, 40vw, 40%);
    overflow: hidden;
    font-size: clamp(1.3em, 4vw, 3em) !important;
    font-family: 'Lato', sans-serif;
    line-height: 6vh;
    color: #ecf0f1;

    &__container {
      font-weight: 6vh;
      overflow: hidden;
      height: 6vh;
      padding: 0 0 0 10vw;
      font-weight: bolder;
      font-family: roboto;

      &:before {
        content: '[';
        left: 0;
      }

      &:after {
        content: ']';
        position: absolute;
        right: 0;
      }

      &:after,
      &:before {
        position: absolute;
        top: 0;
        color: #16a085;
        font-size: 6vh;
        line-height: 6vh;
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity;
        animation-duration: 4s;
        animation-iteration-count: infinite;
      }

      &__text {
        display: inline;
        float: left;
        margin: 0;
      }

      &__list {
        margin-top: 0;
        padding-left: 20%;
        text-align: left;
        list-style: none;
        color: red;
        -webkit-animation-name: change;
        -webkit-animation-duration: 20s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 20s;
        animation-iteration-count: infinite;

        &__item {
          line-height: 6vh;
          margin: 0;
        }
      }
    }
  }

  @-webkit-keyframes opacity {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  // @-webkit-keyframes change {
  //   0%,
  //   12.66%,
  //   100% {
  //     transform: translate3d(0, 0, 0);
  //   }
  //   16.66%,
  //   29.32% {
  //     transform: translate3d(0, -25%, 0);
  //   }
  //   33.32%,
  //   45.98% {
  //     transform: translate3d(0, -50%, 0);
  //   }
  //   49.98%,
  //   62.64% {
  //     transform: translate3d(0, -75%, 0);
  //   }
  //   66.64%,
  //   79.3% {
  //     transform: translate3d(0, -50%, 0);
  //   }
  //   83.3%,
  //   95.96% {
  //     transform: translate3d(0, -25%, 0);
  //   }
  // }

  // @-o-keyframes opacity {
  //   0%,
  //   100% {
  //     opacity: 0;
  //   }
  //   50% {
  //     opacity: 1;
  //   }
  // }

  // @-o-keyframes change {
  //   0%,
  //   12.66%,
  //   100% {
  //     transform: translate3d(0, 0, 0);
  //   }
  //   16.66%,
  //   29.32% {
  //     transform: translate3d(0, -25%, 0);
  //   }
  //   33.32%,
  //   45.98% {
  //     transform: translate3d(0, -50%, 0);
  //   }
  //   49.98%,
  //   62.64% {
  //     transform: translate3d(0, -75%, 0);
  //   }
  //   66.64%,
  //   79.3% {
  //     transform: translate3d(0, -50%, 0);
  //   }
  //   83.3%,
  //   95.96% {
  //     transform: translate3d(0, -25%, 0);
  //   }
  // }

  @-moz-keyframes opacity {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  // @-moz-keyframes change {
  //   0%,
  //   12.66%,
  //   100% {
  //     transform: translate3d(0, 0, 0);
  //   }
  //   16.66%,
  //   29.32% {
  //     transform: translate3d(0, -25%, 0);
  //   }
  //   33.32%,
  //   45.98% {
  //     transform: translate3d(0, -50%, 0);
  //   }
  //   49.98%,
  //   62.64% {
  //     transform: translate3d(0, -75%, 0);
  //   }
  //   66.64%,
  //   79.3% {
  //     transform: translate3d(0, -50%, 0);
  //   }
  //   83.3%,
  //   95.96% {
  //     transform: translate3d(0, -25%, 0);
  //   }
  // }

  @keyframes opacity {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes change {
    0%,
    12.66%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
      transform: translate3d(0, -33%, 0);
    }
    33.32%,
    45.98% {
      transform: translate3d(0, -66%, 0);
    }
    49.98%,
    62.64% {
      transform: translate3d(0, -33%, 0);
    }
    66.64%,
    79.3% {
      transform: translate3d(0, 0%, 0);
    }
    83.3%,
    95.96% {
      transform: translate3d(0, -33%, 0);
    }
  }

  .sectionFoto {
    // border: 1px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    @keyframes apparition {
      0% {
        transform: scale(0);
      }
      25% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    h1 {
      position: absolute;
      z-index: -1;
      left: 30%;
      font-size: calc(0.5em + 3vw);
      opacity: 0;
      animation: animate 1.3s linear;
      animation-name: h1Apparition;
      animation-timing-function: ease;
    }

    @keyframes h1Apparition {
      0% {
        opacity: 1;
        transform: translateY(80%) scale(2);
      }
      50% {
        opacity: 1;
        transform: translateY(75%) scale(1.5);
      }

      100% {
        transform: translateY(0%) scale(0);
      }
    }
  }
  @media only screen and (max-width: 500px) {
    .sectionFoto {
      width: 100%;
      height: 60%;
    }
  }

  .logos {
    // border: 1px solid red;
    animation: animate 3.8s linear;
    animation-name: apparition;
    animation-timing-function: ease;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    margin-top: 2%;

    p {
      position: absolute;
      top: 35%;
      font-weight: bolder;
      animation: apparition2 ease-in-out 10s infinite alternate;
      animation-delay: 10s;
      opacity: 0;
    }
    @keyframes apparition2 {
      0% {
        opacity: 0;
      }
      10% {
        color: $color-yellow;
        opacity: 1;
        transform: scale(1.3);
      }
      20%{
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    img {
      animation: swing3 ease-in-out 2s infinite alternate;
      width: clamp(4em, 7vw, 10em);
      height: clamp(4em, 7vh, 10em);
      margin: 3% 3%;
      cursor: pointer;
    }

    @keyframes swing3 {
      0% {
        // width: 10%;
        background-color: rgba(252, 232, 229, 0.76);
        border: 3px;
        border-radius: 17%;
        transform: rotate(18deg);
        box-shadow: -50px -322.5px 115px rgb(122, 165, 42);
      }

      100% {
        transform: rotate(-18deg);
        box-shadow: -50px 322.5px 115px rgb(42, 99, 165);
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .Home {
    flex-direction: column;
    .wrap {
      margin: 7% 7% 0 0;
    }
    .logos {
      margin-top: 50%;
      p {
        top: 25%;
      }
    }
  }
}
