.Navbar {
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: large;
    font-weight: bold;
    animation: animate 1.5s linear;
    animation-name: navbarApparition;
    animation-timing-function: ease;
    // font-family: 'Belleza', sans-serif !important;
  }
  li {
    .navLink {
      text-decoration: none;
      color: $color-yellow;
      margin: 5px;
      margin: 0 8vw 0 0vw;
    }
    .active {
      color: red !important;
      font-weight: bolder;
      font-size: 200%;
    }
  }

  .navLink:hover {
    box-shadow: 0 75px 60px red;
  }
  .BurgerMenuIcons {
    // border: solid 1px blue;
    display: flex;
    justify-content: flex-start;

    svg {
      margin-left: 0.1vw;
      width: clamp(1em, 2vw, 3em);
      height: clamp(1em, 2vh, 3em);
    }
  }
}

.burgerIcon {
  color: $color-yellow;
  width: calc(2em + 2vw);
  height: calc(1.5em + 2vh);
  animation: burgerFocus ease-in-out 10s infinite;
  animation-delay: 10s;
}
@keyframes burgerFocus {
  0% {
    // width: 10%;
    background-color: rgba(252, 248, 229, 0.76);
    color: red;
    transform: scale(1.2);
  }
  10% {
    background-color: black;
    color: $color-yellow;
    transform: scale(1);
  }

  100% {
    // transform: rotate(-18deg);
    // box-shadow: -50px 322.5px 115px rgb(42, 99, 165);
  }
}
.burgerX {
  color: $color-yellow;
  position: absolute;
  right: 6.5vw;
  top: -2vh;
  font-size: clamp(2em, 2vw, 3em);
  animation: burgerFocus ease-in-out 8s infinite alternate;
}

@media only screen and (max-width: 749px) {
  .burgerIcon {
    position: absolute;
    right: 4vw;
    top: 2vh;
  }
}

@keyframes navbarApparition {
  0% {
    transform: translateX(-3000%);
  }
  50% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0);
  }
}
