@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

.Navbar {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: large;
    font-weight: bold;
    padding-top: 1vh;
  }

  .navLink {
    margin: 0 8vw 0 0vw;
  }
  .navLink:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px brown,
      0 100px 80px red;
  }

  #navHome {
    display: none;
  }

  @media only screen and (max-width: 1120px) {
    .navBar-components {
      // margin: 10px 5vw 0px 40vw;
    }
  }

  @media only screen and (max-width: 500px) {
    .navBar-components {
      display: none;
    }
    ul {
      font-size: large;
    }
  }
  button {
    margin: 150px;
    color: red;
  }
}
