.Projects {
}

.spaceApparition {
  position: relative;
  width: 5px;
  height: 5px;
  opacity: 0;
  background-image: url('../asset/images/giphy.gif');
  background-size: cover;
  animation: animate 2s linear;
  animation-name: spaceApparition;
  animation-timing-function: ease;
}

@keyframes spaceApparition {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
    transform: translateY(50%) scale(1000);
  }
  100% {
    opacity: 0;
  }
}
