.Projects {
  max-width: 100vw;
  height: 80vh;
  // margin: 10vh 0;

  .projectsWrapper {
    // border: 1px solid green;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 6s linear;
    animation-name: projectsApparition;
    animation-timing-function: ease;


    .project {
      width: 55%;
      height: 95%;
      margin: 3vw;
      // border: 1px solid blue;
    }
    .project:hover {
      animation: wobble-hor-top 0.8s both;
    }

    @keyframes wobble-hor-top {
      0%,
      100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
      }
      15% {
        -webkit-transform: translateX(-30px) rotate(6deg);
        transform: translateX(-30px) rotate(6deg);
      }
      30% {
        -webkit-transform: translateX(15px) rotate(-6deg);
        transform: translateX(15px) rotate(-6deg);
      }
      45% {
        -webkit-transform: translateX(-15px) rotate(3.6deg);
        transform: translateX(-15px) rotate(3.6deg);
      }
      60% {
        -webkit-transform: translateX(9px) rotate(-2.4deg);
        transform: translateX(9px) rotate(-2.4deg);
      }
      75% {
        -webkit-transform: translateX(-6px) rotate(1.2deg);
        transform: translateX(-6px) rotate(1.2deg);
      }
    }

    .projectBackground {
      // border: 1px solid yellow;
      width: 100%;
      height: 70%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .project1 {
      background-image: url('https://images.unsplash.com/photo-1541044824061-afc156516935?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    }
    .project2 {
      background-image: url('https://images.unsplash.com/photo-1597347343908-2937e7dcc560?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
    }
    .project3 {
      background-image: url('https://images.unsplash.com/photo-1570215171424-f74325192b55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    }
    .projectHead {
      margin-bottom: -1.5vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .codeIcon {
        margin-left: 6vw;
      }
      svg {
        width: calc(3vw + 0.5em);
        height: calc(2vh + 0.5em);
        color: $color-blue;
      }
    }
  }
  @keyframes projectsApparition {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media only screen and (max-width: 1000px) {
    .projectsWrapper {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 700px) {
    .projectsWrapper {
      margin: 5vh 0;
    }
  }
}

.spaceApparition {
  position: absolute;
  z-index: -1;
  width: 5px;
  height: 5px;
  opacity: 0;
  background-image: url('../asset/images/giphy.gif');
  background-size: cover;
  animation: animate 2s linear;
  animation-name: spaceApparition;
  animation-timing-function: ease;
}

@keyframes spaceApparition {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
    transform: translateY(50%) scale(1000);
  }
  100% {
    opacity: 0;
  }
}
