.Skills {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .skillsLogo {
    // border: 1px solid yellow;
    width: 22vw;
    height: 22vh;
    position: absolute;
    z-index: -1;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 30%;
  }
  @media only screen and (max-width: 500px) {
    .skillsLogo {
      width: 14vw;
      height: 14vh;
      background-size: 100%;
    }
  }
  .gitHubLogo {
    background-image: url('../asset/images/logos/github.png');
    background-size: 20%;
    top: 80%;
    left: 20%;
    animation: animate 30s linear infinite;
    animation-delay: 10s;
    animation-name: gitHubApparition;
    animation-timing-function: ease;
  }
  @media only screen and (max-width: 500px) {
    .gitHubLogo {
      background-size: 75%;
    }
  }
  @keyframes gitHubApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 10%), (random(10) * -90%));
    }
  }
  .bootstrapLogo {
    background-image: url('../asset/images/logos/bootstrap.png');
    background-size: 50%;
    top: 80%;
    left: 65%;
    animation: animate 29s linear infinite;
    animation-delay: 11s;
    animation-name: bootstrapApparition;
    animation-timing-function: ease;
  }
  @keyframes bootstrapApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 10%), (random(10) * -105%));
    }
  }
  @media only screen and (max-width: 500px) {
    .bootstrapLogo {
      background-size: 175%;
    }
  }
  .sassLogo {
    background-image: url('../asset/images/logos/sass.png');
    background-size: 25%;
    top: 82%;
    left: 53%;
    animation: animate 30s linear infinite;
    animation-delay: 12s;
    animation-name: sassApparition;
    animation-timing-function: ease;
  }
  @keyframes sassApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * -10%), (random(10) * -85%));
    }
  }
  @media only screen and (max-width: 500px) {
    .sassLogo {
      background-size: 80%;
    }
  }
  .reactLogo {
    background-image: url('../asset/images/logos/react.png');
    background-size: 25%;
    top: 78%;
    left: 51%;
    animation: animate 31s linear infinite;
    animation-delay: 6s;
    animation-name: reactApparition;
    animation-timing-function: ease;
  }
  @keyframes reactApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * -15%), (random(10) * -85%));
    }
  }
  @media only screen and (max-width: 500px) {
    .reactLogo {
      background-size: 80%;
    }
  }
  .javaScriptLogo {
    background-image: url('../asset/images/logos/js.png');
    background-size: 20%;
    left: 65%;
    top: 75%;
    animation: animate 27s linear infinite;
    animation-delay: 4s;
    animation-name: jsApparition;
    animation-timing-function: ease;
  }
  @keyframes jsApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 13%), (random(10) * -83%));
    }
  }
  @media only screen and (max-width: 500px) {
    .javaScriptLogo {
      background-size: 75%;
    }
  }
  .htmlLogo {
    background-image: url('../asset/images/logos/icons8-html-5-48.png');
    background-size: 22%;
    left: 47%;
    top: 70%;
    animation: animate 28s linear infinite;
    animation-delay: 3s;
    animation-name: htmlApparition;
    animation-timing-function: ease;
  }
  @keyframes htmlApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 9%), (random(10) * -91%));
    }
  }
  @media only screen and (max-width: 500px) {
    .htmlLogo {
      background-size: 75%;
    }
  }
  .cssLogo {
    background-image: url('../asset/images/logos/icons8-css3-48.png');
    background-size: 22%;
    left: 72%;
    top: 65%;
    animation: animate 29s linear infinite;
    animation-delay: 3.5s;
    animation-name: cssApparition;
    animation-timing-function: ease;
  }
  @keyframes cssApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 12%), (random(10) * -69%));
    }
  }
  @media only screen and (max-width: 500px) {
    .cssLogo {
      background-size: 75%;
    }
  }
  .linuxLogo {
    background-image: url('../asset/images/logos/icons8-linux-48.png');
    background-size: 22%;
    top: 68%;
    animation: animate 31s linear infinite;
    animation-delay: 13s;
    animation-name: linuxApparition;
    animation-timing-function: ease;
  }
  @keyframes linuxApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 5%), (random(10) * -79%));
    }
  }
  @media only screen and (max-width: 500px) {
    .linuxLogo {
      background-size: 80%;
    }
  }
  .windowsLogo {
    background-image: url('../asset/images/logos/icons8-windows-xp-48.png');
    background-size: 25%;
    top: 77%;
    left: 23%;
    animation: animate 30s linear infinite;
    animation-delay: 15s;
    animation-name: windowsApparition;
    animation-timing-function: ease;
  }
  @keyframes windowsApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * -12%), (random(10) * -86%));
    }
  }
  @media only screen and (max-width: 500px) {
    .windowsLogo {
      background-size: 85%;
    }
  }
  .vsLogo {
    background-image: url('../asset/images/logos/icons8-visual-studio-code-2019-48.png');
    background-size: 20%;
    top: 77%;
    left: 6%;
    animation: animate 34s linear infinite;
    animation-delay: 16s;
    animation-name: vsApparition;
    animation-timing-function: ease;
  }
  @keyframes vsApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * -7%), (random(10) * -76%));
    }
  }
  @media only screen and (max-width: 500px) {
    .vsLogo {
      background-size: 75%;
    }
  }
  .gimpfLogo {
    background-image: url('../asset/images/logos/icons8-gimp-48.png');
    background-size: 20%;
    top: 75%;
    left: 10%;
    animation: animate 34s linear infinite;
    animation-delay: 18s;
    animation-name: gimpfApparition;
    animation-timing-function: ease;
  }
  @keyframes gimpfApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 6%), (random(10) * -69%));
    }
  }
  @media only screen and (max-width: 500px) {
    .gimpfLogo {
      background-size: 75%;
    }
  }
  .brain {
    background-image: url('../asset/images/brain2.gif');
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 13%;
    top: 17%;
    z-index: -2;
    opacity: 0;
    animation: animate 6s linear;
    animation-name: brainApparition;
    animation-timing-function: ease;
  }

  @keyframes brainApparition {
    0% {
      opacity: 2;
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @media only screen and (max-width: 500px) {
    .brain {
      background-size: 155%;
    }
  }

  .skillsLists {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    animation: animate 4s linear;
    animation-name: homeTextApparition;
    animation-timing-function: ease;
    ul {
      margin: 2% 10%;
    }
    h4 {
      color: $color-red;
    }
  }

  @media only screen and (max-width: 400px) {
    .skillsLists {
      flex-direction: column;
      align-items: flex-start;
      padding: 2vh 2vw 0 2vw;

      ul {
        margin: 1% 0;
        h4 {
          margin: 2vh 0;
        }
      }
    }
  }

  @media only screen and (max-height: 480px) {
    .skillsLists {
      li {
        font-size: 80%;
      }
    }
  }

  @media only screen and (max-height: 720px) and (min-width: 539px) {
    .skillsLists {
      // padding: 10% 0 0 0;

      li {
        font-size: 95%;
      }
    }
  }

  @media only screen and (min-height: 811px) and (max-width: 411px) {
    .skillsLists {
      padding: 10% 0 0 0;

      li {
        font-size: 120%;
      }
    }
  }

  @media only screen and (min-height: 1024px) and (max-width: 768px) {
    .skillsLists {
      li {
        font-size: 130%;
      }
    }
  }

  @media only screen and (min-height: 1366px) and (max-width: 1024px) {
    .skillsLists {
      padding: 0;

      li {
        font-size: 150%;
      }
    }
  }
}
