.Skills {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: block;

  .skillsLogo {
    // border: 1px solid yellow;
    width: 22vw;
    height: 22vh;
    position: absolute;
    z-index: -1;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 30%;
  }
  @media only screen and (max-width: 500px) {
    .skillsLogo {
      width: 10vw;
      height: 10vh;
      background-size: 100%;
    }
  }
  .gitHubLogo {
    background-image: url('../asset/images/logos/github.png');
    background-size: 20%;
    top: 80%;
    left: 20%;
    animation: animate 24s linear infinite;
    animation-delay: 6s;
    animation-name: gitHubApparition;
    animation-timing-function: ease;
  }
  @media only screen and (max-width: 500px) {
    .gitHubLogo {
      background-size: 80%;
    }
  }
  @keyframes gitHubApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 10%), (random(10) * -80%));
    }
  }
  .bootstrapLogo {
    background-image: url('../asset/images/logos/bootstrap.png');
    background-size: 50%;
    top: 80%;
    left: 65%;
    animation: animate 26s linear infinite;
    animation-delay: 7.5s;
    animation-name: bootstrapApparition;
    animation-timing-function: ease;
  }
  @keyframes bootstrapApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 10%), (random(10) * -95%));
    }
  }
  @media only screen and (max-width: 500px) {
    .bootstrapLogo {
      background-size: 160%;
    }
  }
  .sassLogo {
    background-image: url('../asset/images/logos/sass.png');
    background-size: 25%;
    top: 82%;
    left: 53%;
    animation: animate 25s linear infinite;
    animation-delay: 5.5s;
    animation-name: sassApparition;
    animation-timing-function: ease;
  }
  @keyframes sassApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * -10%), (random(10) * -75%));
    }
  }
  @media only screen and (max-width: 500px) {
    .sassLogo {
      background-size: 80%;
    }
  }
  .reactLogo {
    background-image: url('../asset/images/logos/react.png');
    background-size: 25%;
    top: 68%;
    left: 51%;
    animation: animate 25s linear infinite;
    animation-delay: 4.7s;
    animation-name: reactApparition;
    animation-timing-function: ease;
  }
  @keyframes reactApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 15%), (random(10) * -85%));
    }
  }
  @media only screen and (max-width: 500px) {
    .reactLogo {
      background-size: 75%;
    }
  }
  .javaScriptLogo {
    background-image: url('../asset/images/logos/js.png');
    background-size: 20%;
    left: 55%;
    top: 72%;
    animation: animate 23s linear infinite;
    animation-delay: 3s;
    animation-name: jsApparition;
    animation-timing-function: ease;
  }
  @keyframes jsApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 13%), (random(10) * -83%));
    }
  }
  @media only screen and (max-width: 500px) {
    .javaScriptLogo {
      background-size: 70%;
    }
  }
  .htmlLogo {
    background-image: url('../asset/images/logos/icons8-html-5-48.png');
    background-size: 22%;
    left: 47%;
    top: 76%;
    animation: animate 22s linear infinite;
    animation-delay: 2.5s;
    animation-name: htmlApparition;
    animation-timing-function: ease;
  }
  @keyframes htmlApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 9%), (random(10) * -71%));
    }
  }
  @media only screen and (max-width: 500px) {
    .htmlLogo {
      background-size: 70%;
    }
  }
  .cssLogo {
    background-image: url('../asset/images/logos/icons8-css3-48.png');
    background-size: 22%;
    left: 66%;
    top: 75%;
    animation: animate 24s linear infinite;
    animation-delay: 3.2s;
    animation-name: cssApparition;
    animation-timing-function: ease;
  }
  @keyframes cssApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 12%), (random(10) * -59%));
    }
  }
  @media only screen and (max-width: 500px) {
    .cssLogo {
      background-size: 70%;
    }
  }
  .linuxLogo {
    background-image: url('../asset/images/logos/icons8-linux-48.png');
    background-size: 22%;
    top: 78%;
    animation: animate 21s linear infinite;
    animation-delay: 8.2s;
    animation-name: linuxApparition;
    animation-timing-function: ease;
  }
  @keyframes linuxApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 5%), (random(10) * -69%));
    }
  }
  @media only screen and (max-width: 500px) {
    .linuxLogo {
      background-size: 80%;
    }
  }
  .windowsLogo {
    background-image: url('../asset/images/logos/icons8-windows-xp-48.png');
    background-size: 25%;
    top: 77%;
    animation: animate 21s linear infinite;
    animation-delay: 7.1s;
    animation-name: windowsApparition;
    animation-timing-function: ease;
  }
  @keyframes windowsApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 7%), (random(10) * -86%));
    }
  }
  @media only screen and (max-width: 500px) {
    .windowsLogo {
      background-size: 85%;
    }
  }
  .vsLogo {
    background-image: url('../asset/images/logos/icons8-visual-studio-code-2019-48.png');
    background-size: 25%;
    top: 77%;
    left: 6%;
    animation: animate 23s linear infinite;
    animation-delay: 9s;
    animation-name: vsApparition;
    animation-timing-function: ease;
  }
  @keyframes vsApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 7%), (random(10) * -76%));
    }
  }
  @media only screen and (max-width: 500px) {
    .vsLogo {
      background-size: 80%;
    }
  }
  .gimpfLogo {
    background-image: url('../asset/images/logos/icons8-gimp-48.png');
    background-size: 25%;
    top: 75%;
    left: 10%;
    animation: animate 24s linear infinite;
    animation-delay: 10s;
    animation-name: gimpfApparition;
    animation-timing-function: ease;
  }
  @keyframes gimpfApparition {
    0% {
      opacity: 1;
    }

    100% {
      transform: translate((random(10) * 6%), (random(10) * -69%));
    }
  }
  @media only screen and (max-width: 500px) {
    .gimpfLogo {
      background-size: 80%;
    }
  }
  .brain {
    background-image: url('../asset/images/brain2.gif');
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 13%;
    top: 17%;
    z-index: -2;
    opacity: 0;
    animation: animate 6s linear;
    animation-name: brainApparition;
    animation-timing-function: ease;
  }

  @keyframes brainApparition {
    0% {
      opacity: 2;
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @media only screen and (max-width: 500px) {
    .brain {
      background-size: 155%;
    }
  }
  .skillsLists {
    display: flex;
    justify-content: space-evenly;
    margin: 15vh 7vw 0 0;
    animation: animate 4s linear;
    animation-name: homeTextApparition;
    animation-timing-function: ease;

    h4 {
      color: $color-red;
    }
  }

  @media only screen and (max-width: 400px) {
    .skillsLists {
      flex-direction: column;
      margin: 4vh 7vw;
    }
  }
}
