.App {
  @import './variables';
  @import './navbar';
  @import './header';
  @import './footer';
  @import './main';

  width: 100vw;
  height: 100vh;
  background-image: url('../data/images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%;

  .navLink {
    text-decoration: none;
    color: $color-yellow;
    margin: 5px;
  }

  .navLink:hover {
    color: brown;
    font-size: 1.05em;
  }
}
