/* reset CSS */
*,
*::before,
*::after {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: black;
}

ul {
  list-style: none;
}

body {
  overflow: hidden; /* Hide scrollbars */
  padding: 2vh 2vw 4vh 2vw;
}

.App {
  @import './variables';
  @import './navbar';
  @import './header';
  @import './footer';
  @import './main';
  @import './about';
  @import './projects';
  @import './contact';
  @import './burgerMenu';
  @import './footerNavbar';

  @import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

  max-width: 100vw;
  max-height: 100vh;
  color: $color-white;

  .navLink {
    color: $color-yellow;
    margin: 5px;
  }

  .navLink:hover {
    color: brown;
    font-size: 1.05em;
  }
}
